body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 30%;
  height: auto;
  line-height: 20px;
  z-index: 1000;
  width: 220%;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #ddd;
  box-sizing: border-box;
  text-align: left;
}

.dropdown-content a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  transition: .1s;
}

.dropdown-content span{
  font-size: 1.5rem;
}

.dropdown-content a:hover{
  background-color: #eee;
  color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

